body > main{
    padding: 40px;
}
body > main > .recipe{
    background-image: linear-gradient(to bottom, #e83d2ee7, #e065d8e7);
    border-radius: 30px;
    padding: 40px;
}
body > main > .recipe > .ingredients{
    margin-bottom: 30px;
}
body > main > .recipe > .content{
    color: white;
    font-family: "Edu";
    font-size: 50px;
    overflow: hidden;
}
body > main > .recipe > .content > .title{
    color: white;
    font-family: "Playwrite";
    font-size: 40px;
    text-align: center;
}
body > main > .recipe > .content > ul{
    margin-left: 20px;
}
body > main > .recipe > .content > .title > .icon{
    height: 100px;
    width: 100px;
}
body > main > .recipe > .content > .title > *{
    vertical-align: middle;
}
body > main > .photo{
    font-size: 0px;
    margin-bottom: 30px;
}
body > main > .photo >.img{
    border-radius: 30px;
    height: 220px;
    object-fit: cover;
    vertical-align: middle;
    width: 220px;
}
body > main > .photo > .utensils{
    background-image: linear-gradient(to bottom, #e83d2ee7, #e065d8e7);
    border-radius: 20px;
    display: inline-block;
    margin-left: 50px;
    min-height: 220px;
    padding: 20px 40px;
    vertical-align: middle;
    width: calc(100% - 220px - 50px);
}
body > main > .photo > .utensils > .icon{
    height: 120px;
    width: 120px;
    margin: 20px;
}