@font-face {
    font-family: "Playwrite";
    src: url("../font/PlaywriteDELA-Regular.ttf");
}
a, a:active, a:focus, a:visited{
    text-decoration: none;
    outline-style: none;
}
body{
    background-image: url("../img/bg.jpg");
    margin: 0px;
}

body > .header > h1{
    background-color: rgba(231, 204, 227,0.9);
    color: rgb(201, 53, 53);
    font-size: 50px;
    font-family: "Playwrite";
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}
body > main > .recipes{
    font-size: 0px;
    text-align: center;
}
body > main > .recipes > .recipe{
    background-size: cover;
    border: 8px solid white;
    box-shadow: 3px 5px 10px black;
    display: inline-block;
    font-size: 0px;
    height: 240px;
    margin: 10px;
    position: relative;
    vertical-align: top;
    width: 240px;
}
body > main > .recipes > .recipe > .name{
    color:beige;
    background-color: rgb(240, 51, 98);
    border-radius: 8px;
    font-family: "Playwrite";
    font-size: 20px;
    position: absolute;
    right: 50%;
    text-align: center;
    bottom: 50%;
    transform: translate(50%, 50%);
    visibility: hidden;
}

body > main > .recipes > .recipe:hover > .name{
    visibility: visible;
}